.adminlogin{
    display: grid;
    align-items: center;
    justify-content: center;
}
.adminlogin input{
    margin:10px auto;
    padding: 20px;
    border-radius: 50px;
    color:#f70084;
    border:1px solid #f70084;
    box-shadow: 0 0 10px #f70084;

}
.adminlogin input:focus{
    outline: none;

    color:#fff;
}

.bt2{
    color:white;
    background-color: #f70084;
    border:none;
    padding:10px;
    border-radius: 5px;
}
.adminlogin h1{
    color: #f70084;
    justify-self: center;

}
.adminlogin i{
    font-size: 40px;
    background-color: #f70084;
    padding: 10px 12px;
    border-radius: 50%;
    color:white;    
    justify-self: center;
}