.get-student-att-body{
    display: grid;
    justify-content: center;

}
input {
    margin: 2px;
    padding: 5px;
    color:#f70084;
    border-radius: 50px;
    border:1px solid #f70084;
}
input:focus{
    outline: none;
    color:#fff;
    background-color: #f70084;
    box-shadow:0px 0px 8px #f70084;
}
select {
    padding:5px;
    color:#fff;
    background-color: #f70084;
    border-radius: 50px;
    border:1px solid #f70084;
}
select:focus{
    outline: none;
    
    box-shadow:0px 0px 8px #f70084;
}
select option{
    color:#fff;
    background-color: #f70084;
}