.yout-body{
    display: grid;
    justify-content: center;
}
.yout-body .btn{
    background-color: #fff;
    color:#f70084;
    padding:10px;
    border:1px solid #f70084;
    margin:5px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #f70084;
    
}
.yout-body .btn:hover{
    color:white;
    background-color: #f70084;
    transition: 0.3s color,0.3s background-color;
}